.leftPane {
  display: flex;
  flex-direction: row;
  background-color: var(--background-blue);
  flex: 4;
}
.rightPane {
  background-color: #feffff;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.centerBox {
  width: 50%;
}
