.loader-animation {
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
#mainSVG {
  width: 20%;
  /* height: 10%; */
  margin: 0 auto;
  /* background-color: rgba(0, 0, 0, 0.856); */
  border-radius: 1rem;
  visibility: hidden;
}

.loader-animation .ell,
#ai {
  fill: none;
}
