.loader-animation {
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#mainSVG {
  width: 85%;
  height: 85%;
  visibility: hidden;
}

.loader-animation .ell,
#ai {
  fill: none;
}
