.todolist {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7em;
  padding: 0.7em;
  border-radius: 10px;
  width: 25%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0em;
  width: 95%;
}
.content {
  display: flex;
  gap: 0.7em;
  flex-direction: column;
  width: 100%;
}
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  color: white;
  padding: 0.3em;
  font-size: 0.9em;
  font-weight: 500;
}
.addTodo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed;
  border-radius: 10px;
  border-width: 2px;
  padding: 0.5em 1em;
  font-weight: 500;
  background-color: #ffffff42;
  margin: 0.3em 0em;
  cursor: pointer;
}
