.navbar {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex: 0 0 auto;
}
.navbar .title {
  font-size: 55px;
  margin: 0.2em;
  font-family: "Chairman";
  /* color: white; */
  letter-spacing: 1px;
}
